* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --background: rgb(93, 90, 95);
}

body {
  background: var(--background);
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}