.mainContent {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-left: 8rem;
    img {
        border-radius: 20%;
        height: 550px;
        width: 450px;   
        margin-left: 5rem;
    }
}